<!DOCTYPE html>
<html>

<head>
  <title>Cliente do Leilão</title>
</head>

<body>
  <script src="{{ url_for('static', filename='client.js') }}"></script>
  
  <h1>Cliente do Leilão</h1>

  <div id="join-div">
    <h2>Entrar no leil&atilde;o</h2>

    <p>Nome:&nbsp;<input maxlength="30" id="username-input" name="username-input" size="30" type="text" /></p>

    <p><input name="register-user-button" type="submit" value="Entrar" onclick="joinUser()"/></p>
  </div>

  <div id="main-div">
    <div><input name="list-auctions-button" type="button" value="Consultar leilões ativos" /></div>

    <hr />

    <div id="register-product-div">
      <h3>Cadastrar produto para leil&atilde;o:</h3>

      <p>Nome:&nbsp;<input maxlength="30" name="register-product-name" size="30" type="text" /></p>

      <p>Descri&ccedil;&atilde;o:</p>

      <p><textarea cols="30" name="register-product-desc" rows="4"></textarea></p>

      <p>Pre&ccedil;o inicial (R$):&nbsp;<input maxlength="30" name="register-product-price" size="30" type="text"
          value="0,0" /></p>

      <p>Data final do leil&atilde;o:&nbsp;<input maxlength="30" name="register-product-date" size="30" type="text" />
      </p>

      <div>
        <input name="register-product-button" type="submit" value="Cadastrar" />
      </div>

    </div>
    <hr />

    <div id="bid-auction-div">
      <h3>Efetuar lance em um produto</h3>

      <p>Código do produto:&nbsp;<input maxlength="30" name="bid-auction-product-id" size="30" type="text" /></p>

      <p>Valor (R$):&nbsp;<input maxlength="30" name="bid-auction-value" size="30" type="text" value="0,0" /></p>

      <div>
        <input name="bid-auction-button" type="submit" value="Efetuar lance" />
      </div>

    </div>
    <hr />
  </div>

</body>

</html>